@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Times New Roman', Times, serif;
}

*{
  box-sizing: border-box;
}

a{
  text-decoration: 2px underline;
}

hr{
  border-color: black;
}

button{
  background-color: grey;
  color: white;
}

input{
  border: 1px solid grey;
}









